

<div style="border:none;background:rgb(196, 223, 255)" class="d-flex flex-row p-4">
    <img class="p-1 mr-5" src="../../../assets/img/centrauto-logo350x104.png" alt="" width="350" height="104">
</div>



<div style="border:none;background:rgb(229, 241, 255)" class="d-flex p-1">



    <form class="d-flex flex-wrap w-100" [formGroup]="homeSearchForm" (ngSubmit)="onSubmitEditedModelForm()">

        <div class="form-row col-xl-5 col-sm-12">   
            
            <div class="col-xl-3 col-md-4 col-sm-12">        
                <label>Marque</label>
                    <select class="form-control" 

                            formControlName="brand"
                            (change)="onBrandSelected(homeSearchForm.value.brand, homeSearchForm.value.model,homeSearchForm.value.gasoline,homeSearchForm.value.mileage,homeSearchForm.value.price,homeSearchForm.value.date)">
                        <option selected value="">Choisir</option>
                        <option *ngFor="let b of brands" [value]="b.id"
                        >
                        
                            {{b.id}}
                        </option>
                    </select>
            
            </div>    

            <div class="col-xl-3 col-md-4 col-sm-12">   
                <label *ngIf="this.homeSearchForm.value.brand" >Modèle</label>
                    <select class="form-control"
                            formControlName="model"
                            *ngIf="this.homeSearchForm.value.brand"
                            (change)="onFieldSelected(homeSearchForm.value.brand, homeSearchForm.value.model,homeSearchForm.value.gasoline,homeSearchForm.value.mileage,homeSearchForm.value.price,homeSearchForm.value.date)"
                            >
                        <option value="" selected>Choisir</option>
                        <option *ngFor="let m of modelsShowable" [value]="m.id"
                        >
                            {{m.name}}, {{m.brand}}
                        </option>
                    </select> 
            </div>

            <div class="col-xl-3 col-md-3 col-sm-12">  
                <label>Carburant</label>
                <select class="form-control"
                        formControlName="gasoline"
                        (change)="onFieldSelected(homeSearchForm.value.brand, homeSearchForm.value.model,homeSearchForm.value.gasoline,homeSearchForm.value.mileage,homeSearchForm.value.price,homeSearchForm.value.date)"
                        >
                    <option value="" selected>Choisir</option>
                    <option *ngFor="let g of gasolines" [value]="g.id"
                    >
                        {{g.name}}, {{g.id}}
                    </option>
                </select>
            </div>
            
        </div><!-- fin premier ligne de fields -->

    <div class="form-row col-xl-6 col-sm-12 border-left border-light d-flex justify-content-between">

        <div class="col-xl-3 col-md-5 col-sm-12 mr-4">  
            <label class="d-flex w-100 ">Kilométrage</label>
            <ngx-slider [options]="optionsKm" formControlName="mileage"
                            (userChange)="onFieldSelected(homeSearchForm.value.brand, 
                            homeSearchForm.value.model,
                            homeSearchForm.value.gasoline,
                            homeSearchForm.value.mileage,
                            homeSearchForm.value.price,
                            homeSearchForm.value.date)"></ngx-slider>

            <!-- <select class="form-control"
                    formControlName="mileageMin"
                    
                    >
                <option value="" selected>Choisir</option>
                <option *ngFor="let mil of mileages" [value]="g.id"
                >
                    {{g.name}}, {{g.id}}
                </option>
            </select> -->
        </div> 

        <div class="col-xl-3 col-md-5 col-sm-12">  
            <label class="d-flex w-100">Prix</label>
            <ngx-slider [options]="optionsPrice" formControlName="price"
                        (userChange)="onFieldSelected(homeSearchForm.value.brand, 
                                              homeSearchForm.value.model,
                                              homeSearchForm.value.gasoline,
                                              homeSearchForm.value.mileage,
                                              homeSearchForm.value.price,
                                              homeSearchForm.value.date)"
            >
            </ngx-slider>

        </div> 

        <div class="col-xl-3 col-md-5 col-sm-12">  
            <label class="d-flex w-100">Date mise en circulation</label>
            <ngx-slider [options]="optionsDate" formControlName="date"
                        (userChange)="onFieldSelected(homeSearchForm.value.brand, 
                        homeSearchForm.value.model,
                        homeSearchForm.value.gasoline,
                        homeSearchForm.value.mileage,
                        homeSearchForm.value.price,
                        homeSearchForm.value.date)"
            >
            </ngx-slider>

        </div> 

    </div><!-- fin deuxieme ligne de fields -->
</form>

</div>

<br>

<h1>Annonces</h1>

<div *ngIf="!homeSearchForm.dirty" class="container-fluid bg-3 text-center" style="border:solid orange;margin:auto">
    <div class="row m-auto">
        <div *ngFor="let adshow of ads" class="card  ml-2"  style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{adshow.title}}</h5>
            <p class="card-text">ads dé kon arrive example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <p>{{adshow.mileage}}</p>
            </div>
        </div>
    </div>
</div>    

<div class="container-fluid bg-3 text-center" style="border:solid orange;margin:auto">
    <div class="row m-auto">
        <div *ngFor="let adshow of adsShowable" class="card  ml-2"  style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{adshow.title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <p>{{adshow.mileage}}</p>
            </div>
        </div>
    </div>

<span>ad showable ={{adsShowable}}</span> <br>
<span>ads ={{ads}}</span>
<!-- <p *ngFor="let ad of adsShowable">
    {{ad.title}} /// {{ad.gasoline}}
    
    <a  routerLink="/ads/{{ad.id}}" class="btn btn-round btn-outline-warning btn-sm">
        <i class="nc-icon nc-simple-delete"></i>
        lien vers ad single view
    </a>
</p> -->

<button (click)="checkU()">test</button>

<button (click)="checkAds()">test adds</button>


<p *ngFor="let a of ads">
    {{a.title}} s'affiche sans condition
</p>

</div>