<p>home-view works!</p>


<form class="mt-5">
    <form [formGroup]="homeSearchForm" (ngSubmit)="onSubmitEditedModelForm()">        
        <label>Marque</label>
        <select class="form-control" 
                formControlName="brand"
                (change)="onBrandSelected(homeSearchForm.value.brand)">
            <option value="" selected>Choisir</option>
            <option *ngFor="let b of brands" [value]="b.id"
            >
            
                {{b.id}}
            </option>
        </select>

        <label>Modèle</label>
        <select class="form-control"
                formControlName="model"
                *ngIf="this.homeSearchForm.controls.brand.dirty"
                (change)="onModelSelected(homeSearchForm.value.brand, homeSearchForm.value.model)"
                >
            <option value="" selected>Choisir</option>
            <option *ngFor="let m of modelsShowable" [value]="m.id"
            >
                {{m.name}}, {{m.brand}}
            </option>
        </select>

        <label>Gasoline</label>
        <select class="form-control"
                formControlName="gasoline"
                (change)="onGasolineSelected(homeSearchForm.value.gasoline)"
                >
            <option value="" selected>Choisir</option>
            <option *ngFor="let g of gasolines" [value]="g.id"
            >
                {{g.name}}, {{g.id}}
            </option>
        </select>
    
    <!-- </div>
        <div class="form-control-feedback text-danger"
         *ngIf="(newCarForm.controls.brandId.dirty || newCarForm.controls.brandId.touched)
                && newCarForm.controls.brandId.invalid
                && newCarForm.controls.brandId.errors.required">
        Merci de choisir une marque.
    </div> -->
    <!-- <div class="form-control-feedback text-danger"
         *ngIf="(newCarForm.controls.brandId.dirty || newCarForm.controls.brandId.touched)
                && newCarForm.controls.brandId.invalid
                && newCarForm.controls.brandId.errors.required">
        Merci de choisir une marque.
    </div> -->


<!-- <div class="form-group">
    <div class="text-left">
        <label>Marque</label>
        <select class="form-control"
                formControlName="brandId"
                [(ngModel)]="car.brandId"
                #sB
                (change)="getModelsForBrandId(sB.value)">
            <option value="" selected>Choisir</option>
            <option *ngFor="let u of users" [value]="u.id">{{u.name}}
            </option>
        </select>
    </div>
    <div class="form-control-feedback text-danger"
         *ngIf="(newCarForm.controls.brandId.dirty || newCarForm.controls.brandId.touched)
                && newCarForm.controls.brandId.invalid
                && newCarForm.controls.brandId.errors.required">
        Merci de choisir une marque.
    </div>
</div> -->
</form>

<br>

<h1>Annonces</h1>

<p *ngFor="let ad of adsShowable">
    {{ad.title}} /// {{ad.gasoline}}
</p>


<p *ngFor="let a of ads">
    {{a.title}} s'affiche sans condition
</p>